$white: #fcfcfc;
$black: #2f0700;
$grey: #7b6663;
$red: #ff6663;
$turquoise: #00999c;

$red10: rgba(255,102,99,0.1);
$red20: rgba(255,102,99,0.2);

$grey15: rgba(123,102,99,0.15);

$background-color: $white;
$text-color: $black;
$supplementary-color: $grey;

$codeblock-background: $grey15;
$selection-color: $red20;