@font-face {
  font-family: 'Quattrocento Sans';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/quattrocentosans-regular-webfont.eot");
  src: url("/assets/fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("/assets/fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("/assets/fonts/quattrocentosans-regular-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-weight: normal;
  font-style: italic;
  src: url("/assets/fonts/quattrocentosans-italic-webfont.eot");
  src: url("/assets/fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quattrocentosans-italic-webfont.woff") format("woff"), url("/assets/fonts/quattrocentosans-italic-webfont.ttf") format("truetype"), url("/assets/fonts/quattrocentosans-italic-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-weight: bold;
  font-style: normal;
  src: url("/assets/fonts/quattrocentosans-bold-webfont.eot");
  src: url("/assets/fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quattrocentosans-bold-webfont.woff") format("woff"), url("/assets/fonts/quattrocentosans-bold-webfont.ttf") format("truetype"), url("/assets/fonts/quattrocentosans-bold-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-weight: bold;
  font-style: italic;
  src: url("/assets/fonts/quattrocentosans-bolditalic-webfont.eot");
  src: url("/assets/fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/quattrocentosans-bolditalic-webfont.svg#webfont") format("svg");
}
/* line 1, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 5, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 9, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 14, ../sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 18, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 24, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 28, ../sass/_normalize.scss */
a {
  background: transparent;
}

/* line 32, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 36, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 40, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 45, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 49, ../sass/_normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 53, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 57, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 63, ../sass/_normalize.scss */
mark {
  background: #FF0;
  color: #000;
}

/* line 68, ../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

/* line 73, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 77, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 81, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 85, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 92, ../sass/_normalize.scss */
sup {
  top: -.5em;
}

/* line 96, ../sass/_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 100, ../sass/_normalize.scss */
img {
  border: 0;
}

/* line 104, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 108, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 112, ../sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 118, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 123, ../sass/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 129, ../sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 133, ../sass/_normalize.scss */
button, select {
  text-transform: none;
}

/* line 137, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 142, ../sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 146, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 151, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 158, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 162, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 167, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 172, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Import the font file with the icons in it */
@font-face {
  font-family: "casper-icons";
  src: url("../fonts/casper-icons.eot?v=1");
  src: url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff?v=1") format("woff"), url("../fonts/casper-icons.ttf?v=1") format("truetype"), url("../fonts/casper-icons.svg?v=1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Apply these base styles to all icons */
/* line 14, ../sass/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
/* line 29, ../sass/_icons.scss */
.icon-ghost:before {
  content: "\f600";
}

/* line 32, ../sass/_icons.scss */
.icon-feed:before {
  content: "\f601";
}

/* line 35, ../sass/_icons.scss */
.icon-twitter:before {
  content: "\f602";
  font-size: 1.1em;
}

/* line 39, ../sass/_icons.scss */
.icon-google-plus:before {
  content: "\f603";
}

/* line 42, ../sass/_icons.scss */
.icon-facebook:before {
  content: "\f604";
}

/* line 45, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\f605";
}

/* line 48, ../sass/_icons.scss */
.icon-stats:before {
  content: "\f606";
}

/* line 51, ../sass/_icons.scss */
.icon-location:before {
  content: "\f607";
  margin-left: -3px;
  /* Tracking fix */
}

/* line 55, ../sass/_icons.scss */
.icon-link:before {
  content: "\f608";
}

/* line 58, ../sass/_icons.scss */
.icon-menu:before {
  content: "\f609";
}

/*
    IMPORTANT: When making any changes to the icon font, be sure to increment
    the version number by 1 in the @font-face rule. `?v=1` becomes `?v=2`
    This forces browsers to download the new font file.
*/
/* line 1, ../sass/_base.scss */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, ../sass/_base.scss */
body {
  height: 100%;
  max-height: 100%;
  font-family: "Quattrocento Sans", Georgia, serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  background-color: #fcfcfc;
  color: #3A4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

/* line 23, ../sass/_base.scss */
::-moz-selection {
  background: rgba(255, 102, 99, 0.1);
}

/* line 27, ../sass/_base.scss */
::selection {
  background: rgba(255, 102, 99, 0.1);
}

/* line 31, ../sass/_base.scss */
h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  text-rendering: geometricPrecision;
}

/* line 41, ../sass/_base.scss */
h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}

/* line 47, ../sass/_base.scss */
h2 {
  font-size: 3.6rem;
  letter-spacing: -1px;
}

/* line 52, ../sass/_base.scss */
h3 {
  font-size: 3rem;
}

/* line 56, ../sass/_base.scss */
h4 {
  font-size: 2.5rem;
}

/* line 60, ../sass/_base.scss */
h5 {
  font-size: 2rem;
}

/* line 64, ../sass/_base.scss */
h6 {
  font-size: 2rem;
}

/* line 68, ../sass/_base.scss */
a {
  color: #4A4A4A;
  transition: color 0.3s ease;
}

/* line 73, ../sass/_base.scss */
a:hover {
  color: #111;
}

/* line 77, ../sass/_base.scss */
p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
}

/* line 85, ../sass/_base.scss */
ol, ul {
  padding-left: 3rem;
}

/* line 89, ../sass/_base.scss */
ol ol, ul ul,
ul ol, ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

/* line 95, ../sass/_base.scss */
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}

/* line 107, ../sass/_base.scss */
dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

/* line 112, ../sass/_base.scss */
li {
  margin: 0.4em 0;
}

/* line 116, ../sass/_base.scss */
li li {
  margin: 0;
}

/* line 120, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: 3.2em 0;
  padding: 0;
}

/* line 129, ../sass/_base.scss */
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
  border-left: #4A4A4A 0.4em solid;
}

/* line 137, ../sass/_base.scss */
blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

/* line 142, ../sass/_base.scss */
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #CCC;
}

/* line 149, ../sass/_base.scss */
blockquote small:before {
  content: "\2014 \00A0";
}

/* line 151, ../sass/_base.scss */
blockquote cite {
  font-weight: 700;
}

/* line 155, ../sass/_base.scss */
blockquote cite a {
  font-weight: normal;
}

/* line 157, ../sass/_base.scss */
mark {
  background-color: #fdffb6;
}

/* line 161, ../sass/_base.scss */
code, tt, pre {
  font-family: Inconsolata, monospace, sans-serif;
  background-color: rgba(123, 102, 99, 0.15);
}

/* line 166, ../sass/_base.scss */
code, tt {
  padding: 1px 3px;
  font-size: 0.85em;
  white-space: pre-wrap;
}

/* line 172, ../sass/_base.scss */
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 10px;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
}

/* line 183, ../sass/_base.scss */
pre code, pre tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

/* line 191, ../sass/_base.scss */
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #CCC 1px solid;
  color: #666;
  text-shadow: #FFF 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

/* line 207, ../sass/_base.scss */
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

/* line 216, ../sass/_base.scss */
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #EFEFEF 1px solid;
}

/* line 225, ../sass/_base.scss */
table th {
  color: #000;
}

/* line 227, ../sass/_base.scss */
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 236, ../sass/_base.scss */
table tbody + tbody {
  border-top: #EFEFEF 2px solid;
}

/* line 238, ../sass/_base.scss */
table table table {
  background-color: #FFF;
}

/* line 240, ../sass/_base.scss */
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #F6F6F6;
}

/* line 245, ../sass/_base.scss */
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

/* line 250, ../sass/_base.scss */
iframe, .fluid-width-video-wrapper {
  display: block;
  margin: 1.75em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
/* line 257, ../sass/_base.scss */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

/* line 1, ../sass/_utilities.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 6, ../sass/_utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 7, ../sass/_utilities.scss */
.clearfix {
  zoom: 1;
}

/* line 9, ../sass/_utilities.scss */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
/* line 16, ../sass/_utilities.scss */
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
/* line 24, ../sass/_utilities.scss */
.vertical {
  display: table-cell;
  vertical-align: middle;
}

/* Wraps the main content & footer */
/* line 30, ../sass/_utilities.scss */
.site-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

/* line 38, ../sass/_utilities.scss */
body.nav-opened .site-wrapper {
  overflow-x: hidden;
  -webkit-transform: translate3D(-240px, 0, 0);
  -ms-transform: translate3D(-240px, 0, 0);
  transform: translate3D(-240px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

/* Big cover image on the home page */
/* line 2, ../sass/_main.scss */
.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 50vh;
  margin-bottom: 5rem;
  text-align: center;
  background: #fcfcfc no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

/* line 14, ../sass/_main.scss */
.main-header .inner {
  width: 80%;
}

/* line 18, ../sass/_main.scss */
.main-nav {
  position: relative;
  padding: 35px 40px;
  margin: 0 0 30px 0;
}

/* line 24, ../sass/_main.scss */
.main-nav a {
  text-decoration: none;
}

/* Navigation */
/* line 29, ../sass/_main.scss */
body.nav-opened .nav-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 240px;
  bottom: 0;
  z-index: 200;
}

/* line 38, ../sass/_main.scss */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 240px;
  opacity: 0;
  background: #111;
  margin-bottom: 0;
  text-align: left;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.3s ease 0.7s;
  transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
}

/* line 56, ../sass/_main.scss */
body.nav-closed .nav {
  -webkit-transform: translate3D(97px, 0, 0);
  -ms-transform: translate3D(97px, 0, 0);
  transform: translate3D(97px, 0, 0);
}

/* line 62, ../sass/_main.scss */
body.nav-opened .nav {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
  transition: transform 0.3s ease, opacity 0s ease 0s;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 73, ../sass/_main.scss */
.nav-title {
  position: absolute;
  top: 45px;
  left: 30px;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}

/* line 83, ../sass/_main.scss */
.nav-close {
  position: absolute;
  top: 38px;
  right: 25px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 10px;
}

/* line 93, ../sass/_main.scss */
.nav-close:focus {
  outline: 0;
}

/* line 97, ../sass/_main.scss */
.nav-close:before,
.nav-close:after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 1px;
  background: #969696;
  top: 15px;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}

/* line 110, ../sass/_main.scss */
.nav-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 116, ../sass/_main.scss */
.nav-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 122, ../sass/_main.scss */
.nav-close:hover:before,
.nav-close:hover:after {
  background: white;
}

/* line 127, ../sass/_main.scss */
.nav ul {
  padding: 90px 9% 5%;
  list-style: none;
  counter-reset: item;
}

/* line 133, ../sass/_main.scss */
.nav li:before {
  display: block;
  float: right;
  padding-right: 4%;
  padding-left: 5px;
  text-align: right;
  font-size: 1.2rem;
  vertical-align: bottom;
  color: #B8B8B8;
  content: counter(item,lower-roman);
  counter-increment: item;
}

/* line 145, ../sass/_main.scss */
.nav li {
  margin: 0;
}

/* line 148, ../sass/_main.scss */
.nav li a {
  text-decoration: none;
  line-height: 1.4;
  font-size: 1.4rem;
  display: block;
  padding: 0.6rem 4%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 158, ../sass/_main.scss */
.nav li a:after {
  display: inline-block;
  content: " .......................................................";
  color: rgba(255, 255, 255, 0.2);
  margin-left: 5px;
}

/* line 164, ../sass/_main.scss */
.nav .nav-current:before {
  color: #fff;
}

/* line 167, ../sass/_main.scss */
.nav .nav-current a:after {
  content: " ";
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  width: 100%;
  height: 1px;
}

/* line 174, ../sass/_main.scss */
.nav a:link,
.nav a:visited {
  color: #B8B8B8;
}

/* line 179, ../sass/_main.scss */
.nav li.nav-current a,
.nav a:hover,
.nav a:active,
.nav a:focus {
  color: #fff;
}

/* line 186, ../sass/_main.scss */
.subscribe-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  height: 38px;
  padding: 0 20px;
  color: #111 !important;
  /* Overides `.nav a:link, .nav a:visited` colour */
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  border-radius: 3px;
  background: #fff;
  transition: all ease 0.3s;
}

/* line 207, ../sass/_main.scss */
.subscribe-button:before {
  font-size: 9px;
  margin-right: 6px;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */
/* line 214, ../sass/_main.scss */
.scroll-down {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */
/* line 235, ../sass/_main.scss */
.scroll-down:hover {
  color: #fff;
  -webkit-animation: none;
  animation: none;
}

/* line 242, ../sass/_main.scss */
.home-template {
  /* Put a semi-opaque radial gradient behind the icon to make it more visible
  on photos which happen to have a light background. */
  /* Add subtle load-in animation for content on the home page */
}
/* line 245, ../sass/_main.scss */
.home-template .main-header:after {
  display: block;
  content: " ";
  width: 150px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}
/* line 258, ../sass/_main.scss */
.home-template .page-title {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 264, ../sass/_main.scss */
.home-template .page-description {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 270, ../sass/_main.scss */
.home-template .blog-logo {
  display: inline-block;
  float: none;
}

/* Hide when there's no cover image or on page2+ */
/* line 277, ../sass/_main.scss */
.no-cover .scroll-down,
.no-cover.main-header:after,
.archive-template .scroll-down,
.archive-template .main-header:after {
  display: none;
}

/* Appears in the top left corner of your home page */
/* line 285, ../sass/_main.scss */
.blog-logo {
  display: block;
  float: left;
  background: none !important;
  /* Makes sure there is never a background */
  border: none !important;
  /* Makes sure there is never a border */
}

/* line 292, ../sass/_main.scss */
.blog-logo img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 38px;
  padding: 1px 0 5px 0;
  width: auto;
}

/* Special styles when overlaid on an image*/
/* line 303, ../sass/_main.scss */
.main-nav.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

/* line 312, ../sass/_main.scss */
.no-cover .main-nav.overlay {
  background: none;
}

/* The details of your blog. Defined in ghost/settings/ */
/* line 317, ../sass/_main.scss */
.page-title {
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
}

/* line 326, ../sass/_main.scss */
.page-description {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 2px 2px #2f0700;
}

/* line 336, ../sass/_main.scss */
.no-cover.main-header {
  min-height: 160px;
  max-height: 40vh;
}

/* line 341, ../sass/_main.scss */
.no-cover .page-title {
  color: #2f0700;
}

/* line 345, ../sass/_main.scss */
.no-cover .page-description {
  color: #7b6663;
}

/* Every post, on every page, gets this style on its <article> tag */
/* line 350, ../sass/_main.scss */
.post {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word;
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
/* line 362, ../sass/_main.scss */
.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

/* line 377, ../sass/_main.scss */
body:not(.post-template) .post-title {
  font-size: 3.6rem;
}

/* line 381, ../sass/_main.scss */
.post-title a {
  text-decoration: none;
}

/* line 385, ../sass/_main.scss */
.post-excerpt p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.7em;
}

/* line 391, ../sass/_main.scss */
.read-more {
  text-decoration: none;
}

/* line 395, ../sass/_main.scss */
.post-meta {
  display: block;
  margin: 1.75rem 0 0 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #7b6663;
}

/* line 403, ../sass/_main.scss */
.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}

/* line 411, ../sass/_main.scss */
.post-meta a {
  color: #7b6663;
  text-decoration: none;
}

/* line 416, ../sass/_main.scss */
.post-meta a:hover {
  text-decoration: underline;
}

/* line 420, ../sass/_main.scss */
.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

/* line 426, ../sass/_main.scss */
.post-date,
.comment-count {
  display: inline-block;
  margin-left: 8px;
  padding-left: 12px;
  border-left: #d5dbde 1px solid;
  text-transform: uppercase;
  font-size: 1.3rem;
  white-space: nowrap;
}

/* line 437, ../sass/_main.scss */
.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 443, ../sass/_main.scss */
.user-name {
  display: block;
  font-weight: 700;
}

/* line 448, ../sass/_main.scss */
.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 455, ../sass/_main.scss */
.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

/* line 463, ../sass/_main.scss */
.publish-heading {
  display: block;
  font-weight: 700;
}

/* line 468, ../sass/_main.scss */
.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}

@media only screen and (max-width: 900px) {
  /* line 476, ../sass/_main.scss */
  blockquote {
    margin-left: 0;
  }

  /* line 480, ../sass/_main.scss */
  .main-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    min-height: 240px;
    height: 60vh;
    padding: 15% 0;
  }

  /* line 490, ../sass/_main.scss */
  .scroll-down,
  .home-template .main-header:after {
    display: none;
  }

  /* line 493, ../sass/_main.scss */
  .archive-template .main-header {
    min-height: 180px;
    padding: 10% 0;
  }

  /* line 498, ../sass/_main.scss */
  .blog-logo img {
    padding: 4px 0;
  }

  /* line 502, ../sass/_main.scss */
  .page-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  /* line 507, ../sass/_main.scss */
  .page-description {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  /* line 512, ../sass/_main.scss */
  .post {
    font-size: 0.95em;
  }

  /* line 516, ../sass/_main.scss */
  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }

  /* line 520, ../sass/_main.scss */
  hr {
    margin: 2.4em 0;
  }

  /* line 524, ../sass/_main.scss */
  ol, ul {
    padding-left: 2em;
  }

  /* line 528, ../sass/_main.scss */
  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  /* line 533, ../sass/_main.scss */
  h2 {
    font-size: 3.6rem;
  }

  /* line 537, ../sass/_main.scss */
  h3 {
    font-size: 3.1rem;
  }

  /* line 541, ../sass/_main.scss */
  h4 {
    font-size: 2.5rem;
  }

  /* line 545, ../sass/_main.scss */
  h5 {
    font-size: 2.2rem;
  }

  /* line 549, ../sass/_main.scss */
  h6 {
    font-size: 1.8rem;
  }

  /* line 553, ../sass/_main.scss */
  .author-profile {
    padding-bottom: 4rem;
  }

  /* line 557, ../sass/_main.scss */
  .author-profile .author-bio {
    font-size: 1.6rem;
  }

  /* line 561, ../sass/_main.scss */
  .author-meta span {
    display: block;
    margin: 1.5rem 0;
  }

  /* line 565, ../sass/_main.scss */
  .author-profile .author-meta span {
    font-size: 1.6rem;
  }

  /* line 569, ../sass/_main.scss */
  .post-head.main-header {
    height: 45vh;
  }

  /* line 573, ../sass/_main.scss */
  .tag-head.main-header,
  .author-head.main-header {
    height: 30vh;
  }

  /* line 578, ../sass/_main.scss */
  .no-cover.post-head.main-header {
    height: 55px;
    padding: 0;
  }

  /* line 583, ../sass/_main.scss */
  .no-cover.author-head.main-header {
    padding: 0;
  }

  /* line 587, ../sass/_main.scss */
  .read-next {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4rem;
  }

  /* line 596, ../sass/_main.scss */
  .read-next p {
    display: none;
  }

  /* line 600, ../sass/_main.scss */
  .read-next-story.no-cover + .read-next-story.no-cover {
    border-top: rgba(0, 0, 100, 0.06) 1px solid;
    border-left: none;
  }

  /* line 604, ../sass/_main.scss */
  .comment-count {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  /* line 611, ../sass/_main.scss */
  .main-header {
    margin-bottom: 15px;
    height: 40vh;
  }

  /* line 616, ../sass/_main.scss */
  .no-cover.main-header {
    height: 30vh;
  }

  /* line 620, ../sass/_main.scss */
  .archive-template .main-header {
    max-height: 20vh;
    min-height: 160px;
    padding: 10% 0;
  }

  /* line 626, ../sass/_main.scss */
  .main-nav {
    padding: 5px;
    margin-bottom: 2rem;
  }

  /* line 631, ../sass/_main.scss */
  .blog-logo {
    padding: 5px;
  }

  /* line 635, ../sass/_main.scss */
  .blog-logo img {
    height: 30px;
  }

  /* line 639, ../sass/_main.scss */
  .main-nav.overlay a:hover {
    color: #fff;
    border-color: transparent;
    background: transparent;
  }

  /* line 645, ../sass/_main.scss */
  .no-cover .main-nav.overlay {
    background: none;
  }

  /* line 649, ../sass/_main.scss */
  .nav-title {
    top: 25px;
  }

  /* line 654, ../sass/_main.scss */
  .nav-close {
    position: absolute;
    top: 18px;
  }

  /* line 659, ../sass/_main.scss */
  .nav ul {
    padding: 60px 9% 5%;
  }

  /* line 663, ../sass/_main.scss */
  .inner,
  .pagination {
    width: auto;
    margin: 2rem auto;
  }

  /* line 669, ../sass/_main.scss */
  .post {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 2rem;
    line-height: 1.65em;
  }

  /* line 679, ../sass/_main.scss */
  .post-date,
  .comment-count {
    display: none;
  }

  /* line 684, ../sass/_main.scss */
  .post-template .post-header {
    margin-bottom: 2rem;
  }

  /* line 688, ../sass/_main.scss */
  .post-template .post-date {
    display: inline-block;
  }

  /* line 692, ../sass/_main.scss */
  hr {
    margin: 1.75em 0;
  }

  /* line 696, ../sass/_main.scss */
  p, ul, ol, dl {
    font-size: 0.95em;
    margin: 0 0 2.5rem 0;
  }

  /* line 701, ../sass/_main.scss */
  .page-title {
    font-size: 3rem;
  }

  /* line 705, ../sass/_main.scss */
  .post-excerpt p {
    font-size: 0.85em;
  }

  /* line 709, ../sass/_main.scss */
  .page-description {
    font-size: 1.6rem;
  }

  /* line 713, ../sass/_main.scss */
  h1, h2, h3,
  h4, h5, h6 {
    margin: 0 0 0.3em 0;
  }

  /* line 718, ../sass/_main.scss */
  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px;
  }

  /* line 723, ../sass/_main.scss */
  h2 {
    font-size: 2.4rem;
    letter-spacing: 0;
  }

  /* line 728, ../sass/_main.scss */
  h3 {
    font-size: 2.1rem;
  }

  /* line 732, ../sass/_main.scss */
  h4 {
    font-size: 1.9rem;
  }

  /* line 736, ../sass/_main.scss */
  h5 {
    font-size: 1.8rem;
  }

  /* line 740, ../sass/_main.scss */
  h6 {
    font-size: 1.8rem;
  }

  /* line 744, ../sass/_main.scss */
  body:not(.post-template) .post-title {
    font-size: 2.5rem;
  }

  /* line 748, ../sass/_main.scss */
  .post-template .site-footer {
    margin-top: 0;
  }

  /* line 752, ../sass/_main.scss */
  .post-content img {
    padding: 0;
    width: calc(100% + 32px);
    /* expand with to image + margins */
    min-width: 0;
    max-width: 112%;
    /* fallback when calc doesn't work */
  }

  /* line 759, ../sass/_main.scss */
  .post-meta {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  /* line 764, ../sass/_main.scss */
  .post-footer {
    padding: 5rem 0 3rem 0;
    text-align: center;
  }

  /* line 769, ../sass/_main.scss */
  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #EBF2F6 1px dashed;
  }

  /* line 775, ../sass/_main.scss */
  .post-footer .share {
    position: static;
    width: auto;
  }

  /* line 780, ../sass/_main.scss */
  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }

  /* line 784, ../sass/_main.scss */
  .author-meta li {
    float: none;
    margin: 0;
    line-height: 1.75em;
  }

  /* line 790, ../sass/_main.scss */
  .author-meta li:before {
    display: none;
  }

  /* line 794, ../sass/_main.scss */
  .older-posts,
  .newer-posts {
    position: static;
    margin: 10px 0;
  }

  /* line 800, ../sass/_main.scss */
  .page-number {
    display: block;
  }

  /* line 804, ../sass/_main.scss */
  .site-footer {
    margin-top: 3rem;
  }

  /* line 808, ../sass/_main.scss */
  .author-profile {
    padding-bottom: 2rem;
  }

  /* line 812, ../sass/_main.scss */
  .post-head.main-header {
    height: 30vh;
  }

  /* line 816, ../sass/_main.scss */
  .tag-head.main-header,
  .author-head.main-header {
    height: 20vh;
  }

  /* line 821, ../sass/_main.scss */
  .author-profile .author-image {
    margin-top: -70px;
  }

  /* line 825, ../sass/_main.scss */
  .author-profile .author-meta span {
    font-size: 1.4rem;
  }

  /* line 829, ../sass/_main.scss */
  .archive-template .main-header .page-description {
    display: none;
  }

  /* line 833, ../sass/_main.scss */
  .read-next {
    margin-top: 2rem;
    margin-bottom: -37px;
  }

  /* line 838, ../sass/_main.scss */
  .read-next .post {
    width: 100%;
  }
}
/* line 1, ../sass/_post.scss */
.post-template .post-header {
  margin-bottom: 3.4rem;
}

/* line 5, ../sass/_post.scss */
.post-template .post-title {
  margin-bottom: 0;
}

/* line 9, ../sass/_post.scss */
.post-template .post-meta {
  margin: 0;
}

/* line 13, ../sass/_post.scss */
.post-template .post-date {
  padding: 0;
  margin: 0;
  border: none;
}

/* Stop elements, such as img wider than the post content, from
   creating horizontal scroll - slight hack due to imperfections
   with browser width % calculations and rounding */
/* line 22, ../sass/_post.scss */
.post-template .content {
  overflow: hidden;
}

/* Tweak the .post wrapper style */
/* line 27, ../sass/_post.scss */
.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
/* line 34, ../sass/_post.scss */
.post-template .post:after {
  display: none;
}

/* Keep images centered, and allow images wider than the main
   text column to break out. */
/* line 40, ../sass/_post.scss */
.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* for Safari and iOS */
  -ms-transform: translateX(-50%);
  /* for IE9 */
  transform: translateX(-50%);
}

/* line 56, ../sass/_post.scss */
.footnotes {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.6em;
}

/* line 62, ../sass/_post.scss */
.footnotes li {
  margin: 0.6rem 0;
}

/* line 66, ../sass/_post.scss */
.footnotes p {
  margin: 0;
}

/* line 70, ../sass/_post.scss */
.footnotes p a:last-child {
  text-decoration: none;
}

/* The author credit area after the post */
/* line 76, ../sass/_post.scss */
.post-footer {
  position: relative;
  margin: 6rem 0 0 0;
  padding: 6rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}

/* line 83, ../sass/_post.scss */
.post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}

/* line 88, ../sass/_post.scss */
.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.75em;
}

/* list of author links - location / url */
/* line 95, ../sass/_post.scss */
.author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #7b6663;
}

/* line 105, ../sass/_post.scss */
.author-meta a {
  color: #7b6663;
}

/* line 108, ../sass/_post.scss */
.author-meta a:hover {
  color: #111;
}

/* Create some space to the right for the share links */
/* line 113, ../sass/_post.scss */
.post-footer .author {
  margin-right: 180px;
}

/* line 117, ../sass/_post.scss */
.post-footer h4 a {
  color: #2e2e2e;
  text-decoration: none;
}

/* line 122, ../sass/_post.scss */
.post-footer h4 a:hover {
  text-decoration: underline;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
/* line 130, ../sass/_post.scss */
.post-footer .share {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 140px;
}

/* line 137, ../sass/_post.scss */
.post-footer .share a {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1rem 1.6rem 1.6rem 0;
  color: #BBC7CC;
  text-decoration: none;
}

/* line 145, ../sass/_post.scss */
.post-footer .share .icon-twitter:hover {
  color: #55acee;
}

/* line 148, ../sass/_post.scss */
.post-footer .share .icon-facebook:hover {
  color: #3b5998;
}

/* line 151, ../sass/_post.scss */
.post-footer .share .icon-google-plus:hover {
  color: #dd4b39;
}

/* line 1, ../sass/_author.scss */
.post-head.main-header {
  height: 65vh;
  min-height: 180px;
}

/* line 6, ../sass/_author.scss */
.no-cover.post-head.main-header {
  height: 85px;
  min-height: 0;
  margin-bottom: 0;
  background: transparent;
}

/* line 13, ../sass/_author.scss */
.tag-head.main-header {
  height: 40vh;
  min-height: 180px;
}

/* line 18, ../sass/_author.scss */
.author-head.main-header {
  height: 40vh;
  min-height: 180px;
}

/* line 23, ../sass/_author.scss */
.no-cover.author-head.main-header {
  height: 10vh;
  min-height: 100px;
  background: transparent;
}

/* line 29, ../sass/_author.scss */
.author-profile {
  padding: 0 15px 5rem 15px;
  border-bottom: #EBF2F6 1px solid;
  text-align: center;
}

/* Add a little circle in the middle of the border-bottom */
/* line 36, ../sass/_author.scss */
.author-profile:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

/* line 51, ../sass/_author.scss */
.author-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  padding: 6px;
  background: #fff;
  z-index: 2;
  box-shadow: #E7EEF2 0 0 0 1px;
}

/* line 70, ../sass/_author.scss */
.author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}

/* line 80, ../sass/_author.scss */
.author-profile .author-image {
  position: relative;
  left: auto;
  top: auto;
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: -100px auto 0 auto;
  box-shadow: none;
}

/* line 91, ../sass/_author.scss */
.author-title {
  margin: 1.5rem 0 1rem;
}

/* line 95, ../sass/_author.scss */
.author-bio {
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 200;
  color: #50585D;
  letter-spacing: 0;
  text-indent: 0;
}

/* line 104, ../sass/_author.scss */
.author-meta {
  margin: 1.6rem 0;
}

/* Location, website, and link */
/* line 108, ../sass/_author.scss */
.author-profile .author-meta {
  margin: 2rem 0;
  letter-spacing: 0.01rem;
  font-size: 1.7rem;
}

/* line 113, ../sass/_author.scss */
.author-meta span {
  display: inline-block;
  margin: 0 2rem 1rem 0;
  word-wrap: break-word;
}

/* line 118, ../sass/_author.scss */
.author-meta a {
  text-decoration: none;
}

/* Turn off meta for page2+ to make room for extra
   pagination prev/next links */
/* line 124, ../sass/_author.scss */
.archive-template .author-profile .author-meta {
  display: none;
}

/* line 2, ../sass/_readMore.scss */
.read-next {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 10rem;
}

/* line 14, ../sass/_readMore.scss */
.read-next-story {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 50%;
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

/* line 32, ../sass/_readMore.scss */
.read-next-story:hover:before {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
}

/* line 36, ../sass/_readMore.scss */
.read-next-story:hover .post:before {
  color: #222;
  background: #fff;
  transition: all 0.2s ease;
}

/* line 42, ../sass/_readMore.scss */
.read-next-story:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}

/* line 54, ../sass/_readMore.scss */
.read-next-story .post {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* line 59, ../sass/_readMore.scss */
.read-next-story .post:before {
  content: "Read This Next";
  padding: 4px 10px 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 4px;
  transition: all 0.5s ease;
}

/* line 69, ../sass/_readMore.scss */
.read-next-story.prev .post:before {
  content: "You Might Enjoy";
}

/* line 73, ../sass/_readMore.scss */
.read-next-story h2 {
  margin-top: 1rem;
  color: #fff;
}

/* line 78, ../sass/_readMore.scss */
.read-next-story p {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

/* Special styles for posts with no cover images */
/* line 84, ../sass/_readMore.scss */
.read-next-story.no-cover {
  background: #f5f8fa;
}

/* line 88, ../sass/_readMore.scss */
.read-next-story.no-cover:before {
  display: none;
}

/* line 92, ../sass/_readMore.scss */
.read-next-story.no-cover .post:before {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 97, ../sass/_readMore.scss */
.read-next-story.no-cover h2 {
  color: rgba(0, 0, 0, 0.8);
}

/* line 101, ../sass/_readMore.scss */
.read-next-story.no-cover p {
  color: rgba(0, 0, 0, 0.5);
}

/* if there are two posts without covers, put a border between them */
/* line 106, ../sass/_readMore.scss */
.read-next-story.no-cover + .read-next-story.no-cover {
  border-left: rgba(0, 0, 100, 0.04) 1px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Correctly position site-footer when next to the .read-next container */
/* line 114, ../sass/_readMore.scss */
.read-next + .site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/* Github */
/* line 2, ../sass/_embeds.scss */
.gist table {
  margin: 0;
  font-size: 1.4rem;
  text-rendering: auto;
}

/* line 7, ../sass/_embeds.scss */
.gist td {
  line-height: 1.4;
}

/* line 10, ../sass/_embeds.scss */
.gist .line-number {
  min-width: 25px;
}

/* Pastebin */
/* line 15, ../sass/_embeds.scss */
.content .embedPastebin {
  margin-bottom: 1.75em;
}

/* The main wrapper for our pagination links */
/* line 2, ../sass/_pagination.scss */
.pagination {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  font-size: 1.3rem;
  color: #7b6663;
  text-align: center;
}

/* line 12, ../sass/_pagination.scss */
.pagination a {
  color: #7b6663;
  transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
/* line 18, ../sass/_pagination.scss */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #bfc8cd 1px solid;
  text-decoration: none;
  border-radius: 4px;
  transition: border 0.3s ease;
}

/* line 29, ../sass/_pagination.scss */
.older-posts {
  right: 0;
}

/* line 33, ../sass/_pagination.scss */
.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}

/* line 39, ../sass/_pagination.scss */
.newer-posts {
  left: 0;
}

/* line 43, ../sass/_pagination.scss */
.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
}

/* line 49, ../sass/_pagination.scss */
.extra-pagination {
  display: none;
  border-bottom: #EBF2F6 1px solid;
}

/* line 53, ../sass/_pagination.scss */
.extra-pagination:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

/* line 67, ../sass/_pagination.scss */
.extra-pagination .pagination {
  width: auto;
}

/* On page2+ make all the headers smaller */
/* line 72, ../sass/_pagination.scss */
.archive-template .main-header {
  max-height: 30vh;
}

/* On page2+ show extra pagination controls at the top of post list */
/* line 77, ../sass/_pagination.scss */
.archive-template .extra-pagination {
  display: block;
}

/* line 1, ../sass/_footer.scss */
.site-footer {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 1rem 15px;
  font-size: 1rem;
  line-height: 1.75em;
  color: #BBC7CC;
}

/* line 10, ../sass/_footer.scss */
.site-footer a {
  color: #BBC7CC;
  text-decoration: none;
  font-weight: bold;
}

/* line 16, ../sass/_footer.scss */
.site-footer a:hover {
  border-bottom: #bbc7cc 1px solid;
}

/* line 20, ../sass/_footer.scss */
.copyright {
  display: block;
  text-align: center;
}

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }
  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }
  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }
  40% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }
  60% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}
